section {
    margin: 0 30px 30px 30px;
    padding: 5px;
    font-size: 16px;
}

section .section-image {
    display: inline-block;
	width: calc(50% - 3px);
    margin: auto;
}

section .download {
    text-decoration: solid;
    color: #254e7b;
}

@media (max-width: 642px) {

    section .section-image {
        width: 100%;
        float: none;
    }
}