section {
    margin: 0 30px 30px 30px;
    padding: 5px;
    font-size: 16px;
}

section .section-p {
    text-align: justify;
}

section .section-image {
    display: block;
    margin: auto;
}
section .section-image-multi {
    display: inline-block;
	width: calc(26%);
    margin: 10px 30px 10px 30px;
}

section .download {
    text-decoration: solid;
    color: #254e7b;
}

@media (max-width: 642px) {

    section .section-image {
        width: 100%;
        float: none;
    }
}