@media (max-width: 940px) {
    .container {
        width: 100%;
    }

    header nav a:hover{
        font-weight: normal;
        color: #f8f3ea;
        border-bottom: none;
    }

    main {
        width: 100%;
    }

    main article {
        box-shadow: 0 5px 5px -4px #b1b1b1;
    }
}